* {
    margin: 0px !important;
    padding: 0px !important;
}

/* colors */
.red {
    color: #870101;
}

.shakeit{
    animation: shake 4s cubic-bezier(.36,.07,.19,.97) infinite;
  }

@keyframes shake {
    2.5%, 25.5% {
      transform: translate3d(-1px, 0, 0);
    }
    
    5%, 20% {
      transform: translate3d(2px, 0, 0);
    }
  
    7.5%, 12.5%, 17.5% {
      transform: translate3d(-4px, 0, 0);
    }
  
    10%, 15% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* general */
p {
    margin-top: 3px !important;
}

a {
    color: #444 !important; 
    text-decoration: underline !important;
}


a:hover {
    color: #888 !important; 
}

/* components */

.links {
    margin-right: 15px !important;
}

.fancy {
    font-family: 'Volkhov', serif;
}

.emoji {
    font-size: 400%;
}

.title {
    font-weight: bold !important;
}

.divider {
    height: 15px;
}

.caption {
    font-size: 12px;
    color: gray;
    margin-top: 10px !important;
}