* {
    padding: 0px !important;
    font-family: 'Josefin Sans', sans-serif;

    font-style: normal;
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

.vertalign {
    display: table-cell;
    vertical-align: middle;
}

.section-header {
    color: #C8CBCC !important;
    margin-left: 8px;
}

.white {
    color: #fff;
    font-weight: bold
}

/* sections */
.box {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 2px !important;
    padding-top: 32px !important;
    margin-bottom: 5px;
    margin: 8px;
    margin-top: 16px;
}

.box-img {
    width: 100%;
}

.box-img-smaller {
    width: 40%;
    margin-left: 30%;
}
